<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://pluspng.com/img-png/success-png-png-svg-512.png"
    />
    <title>Sucesso</title>
  </head>
  <body
    style="
      display: flex;
      align-content: center;
      justify-content: center;

      background-color: #0e9094;
    "
  >
    <h1
      style="
        margin-top: 15%;
        background-color: #f39708;
        padding: 5rem;
        border-radius: 0.4rem;
        color: white;
      "
    >
      ARQUIVO SALVO
    </h1>
  </body>
</html>
