<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://pluspng.com/img-png/success-png-png-svg-512.png"
    />
    <title>Sucesso</title>
  </head>
  <body
    style="
      display: flex;
      align-content: center;
      justify-content: center;

      background-color: #0e9094;
    "
  >
    <div
      style="
        margin-top: 10%;
        background-color: #f39708;
        padding: 5rem;
        border-radius: 0.4rem;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <h1>ARQUIVO SALVO</h1>
      <ul style="list-style: none; font-size: 20px">
        {% for each in to_return %}
        <li>
          {{each.establishment}}:
          <b style="color: #f21d41"> R$ {{each.balance}}</b>
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
